body {
    margin: 0px;
}

.global-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    justify-content: center;
    margin: auto;
}

.titles {
    color: rgb(106, 9, 133);
    font-weight: 300;
    margin: 0;
    text-align: center;
    padding: 20px 40px;
    border-radius: 15px;
    background-color: rgb(253, 247, 255);
    z-index: 1;
    margin: 5px;
}



.background {
    background-image: url("src/images/background2.png");
    background-repeat: repeat;
    opacity: 1;
    z-index: 0;
    max-width: none;
}

/* ----------------- NAV BAR ----------------*/
.navbar {
    background: rgb(253, 247, 255);
}

.navbar .container-fluid img {
    height: 30px;
    border-radius: 20px;
}

.custombar {
    --bs-dropdown-link-active-bg: rgb(171, 56, 209);
}

/* ----------------------------ABOUT ------------------------ */

.about {
    margin-top: 10px;
    padding: 50px;
    /* background-color: rgb(240, 221, 247); */
    display: flex;
    flex-direction: column;
    z-index: 100;
    border-radius: 15px;
    justify-content: center;
    background-image: url("src/images/background3.png");
    background-repeat: repeat;
    z-index: 1;
}

.about p {
    text-align: justify;
}

.info {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 25px 0;
}

.info .texto {
    border: 3px solid rgba(116, 57, 136, 0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;

}

.info .texto h1,
.info .texto h2 {
    color: rgb(106, 9, 133);
    font-weight: 300;
    margin: 0;
}

.info .texto .nombre {
    margin-bottom: 100;
    font-size: 50px;
    line-height: 50px;
}

.info .texto .profesion {
    font-size: 25px;
    line-height: 25px;

}

.foto {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.foto img {
    border-radius: 50%;
    height: 250px;
    border: 5px solid rgba(171, 56, 209, 0.5);
}

/* ----------------------- EXPERIENCE ---------------------------- */

.accordion-body p {
    text-align: justify;
}

.accordion-body h4,
h5,
h6,
p {
    text-align: left;
    color: rgb(106, 9, 133);
}

.accordion {
    --bs-accordion-border-color: rgb(164, 116, 180);
    --bs-accordion-btn-focus-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(171, 56, 209);
    --bs-accordion-btn-color: rgb(106, 9, 133);
    --bs-accordion-btn-focus-bg: rgb(219, 171, 233);
}

.accordion-button:not(.collapsed) {
    background-color: rgb(248, 234, 253);
    color: rgb(106, 9, 133);
}

.job {
    color: rgb(106, 9, 133);
}

.job li {
    list-style-type: circle;
    text-align: left;
}

/* ----------------------- SKILLS ---------------------------- */

.col .logo img {
    height: 150px;
}

.col .logo p {
    text-align: right;
}

.row img {
    height: 60px;
}

.skillslist li {
    list-style-type: circle;
    text-align: left;
}

/* ----------------- EDUCATION ---------------------- */

.ed {
    color: #0a06eb;
}

.ed a {
    color: #0a06eb;
}

.logoed {
    text-align-last: left;

}

.testers img {
    height: 30px;
}



/* ------------------- PROJECTS -------------------------------*/
.card-body h5 {
    text-align: center;
}

.combo img {
    height: auto;
}

/* ---------------------CERTIFICATIONS --------------------------*/
/* .row h5 {
    color: #0000EE
} */

/* .row .ed a {
    text-decoration: none;
    color: rgb(130, 209, 56);
} */

/* ------------------------ CONTACT ------------------------------- */
.contact {
    display: flex;
    flex-direction: column;

}

.custom {
    background-color: rgb(171, 56, 209);
    border: none;
}

.custom a {
    color: white;
    text-decoration: none;
}

.custom:hover {
    background-color: rgb(116, 57, 136);
    border: none;
}

.form-control:focus {
    border-color: rgb(171, 56, 209);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(171, 56, 209);
}

.contact {
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
    background-color: rgb(253, 247, 255);
    z-index: 1;
}

.btn-primary {
    --bs-btn-active-bg: rgb(116, 57, 136);
}

/*------------------------- MEDIA -------------------------------------*/
.media {
    border-radius: 15px;
    margin: 5px;
    margin-bottom: 10px;
    z-index: 1;
    display: flex;
}

.ratio {
    margin: 20px;
}


.media iframe {
    /* padding-left: 50px; */
    border-radius: 15px;
}

/* ------------------------ FOOTER -------------------------------- */

footer .ft img {
    height: 25px;
    width: 25px;
}

footer .ft {
    display: inline-block;
    flex-direction: column;
}

footer {
    padding: 20px;
    text-align: center;
    background: rgb(253, 247, 255);
    border-radius: 15px;
}

footer p {
    text-align: center;
}